<section class="about-us">
  <div class="container about-container">
<div class="about-content">
    <h3 class="about-title">Про Меблерію</h3>
    <p class="about-text">У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний інтер'єр починається з правильних меблів</p>
    </div>
    <div>
   <picture class="about-img">

  <img src="/src/img/about_pc.jpg" width="578" alt="About section image" />
</picture>
  </div>
  </div>
</section>
