<div class="burger-menu">
  <div class="container">
    <nav class="burger-menu-header-nav">
      <!-- <div class="burger-menu-navbar-header">
            <a href="./index.html" class="logo">
                <svg class="site-icon" width="163" height="70">
                <use href="/img/sprite.svg#company-logo-black">
                </svg>
            </a>
            <button class="burger-menu-navbar-btn-close" type="button" data-navbar-close>
            <svg width="32" height="32">
                <use href="/img/sprite.svg#x"></use>
            </svg>
            </button>
        </div> -->
      <ul class="burger-menu-nav-list">
        <li class="nav-list-item">
          <a href="#furniture-list" class="nav-link">Наші меблі</a>
        </li>
        <li class="nav-list-item">
          <a href="#about-us" class="nav-link">Про нас</a>
        </li>
        <li class="nav-list-item">
          <a href="#faq-section" class="nav-link">Часті питання</a>
        </li>
        <li class="nav-list-item">
          <a href="#feedback" class="nav-link">Відгуки</a>
        </li>
      </ul>
      <button
        href="#furniture-list"
        type="button"
        class="burger-menu-header-button"
      >
        До покупок
      </button>
    </nav>
  </div>
</div>
