<section class="feedback" id="feedbacks-section-id">
  <div class="container feedback-container">
    <div class="feedbacks-container-title">
      <h2 class="feedback-section-title">Відгуки клієнтів</h2>
      <p class="feedbacks-section-description">
        Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
      </p>
    </div>
    <div class="feedbacks-container-content">
      <div class="feedback-swiper swiper">
        <ul class="swiper-wrapper feedback-card-list"></ul>
      </div>
      <div class="feedback-container-pagination">
        <ul class="feedback-pagination-dots"></ul>
        <div class="feedback-navigation">
          <button
            class="feedback-nav-button feedback-nav-prev"
            aria-label="Попередній відгук"
            type="button"
          >
            <!-- Додати svg посилання на стрілки  -->
            <svg class="" width="24" height="24">
              <use href="/img/feedbackIcon/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button
            class="feedback-nav-button feedback-nav-next"
            aria-label="Наступний відгук"
            type="button"
          >
            <svg class="" width="24" height="24">
              <use href="/img/feedbackIcon/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
