<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer-logo">
      <svg class="site-icon" width="221" height="98">
        <use href="/img/sprite.svg#company-logo"></use>
      </svg>
    </a>
    <p class="footer-descr">© 2025 Relume. Всі права захищені.</p>
    <nav class="footer-nav">
      <a class="footer-nav-link" href="#furniture-list">Наші меблі</a>
      <a class="footer-nav-link" href="#about-us">Про нас</a>
      <a class="footer-nav-link" href="#faq-section">Часті питання</a>
      <a class="footer-nav-link" href="#feedbacks-section-id">Відгуки</a>
    </nav>
    <ul class="social-media-list">
      <li class="social-media-list-item">
        <a
          rel="noopener noreferrer"
          href="https://www.youtube.com/"
          class="social-media-link"
          target="_blank"
        >
          <svg width="24" height="24" class="icon icon-youtube">
            <use href="/img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-list-item">
        <a
          rel="noopener noreferrer"
          href="https://www.instagram.com/"
          class="social-media-link"
          target="_blank"
        >
          <svg width="24" height="24" class="icon icon-instagram">
            <use href="/img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-list-item">
        <a
          rel="noopener noreferrer"
          href="https://www.facebook.com/"
          class="social-media-link"
          target="_blank"
        >
          <svg width="24" height="24" class="icon icon-facebook">
            <use href="/img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
