<section class="furniture-list section" id="furniture-list">
  <div class="container">
    <div class="section-body">
      <div class="section-body-header">
        <h2 class="furniture-list-title">Наші меблі</h2>
        <h3 class="furniture-list-description">
          Знайдіть ідеальні рішення для вашого інтер'єру
        </h3>
      </div>

      <ul class="furniture-list-categories" id="categories"></ul>

      <ul class="furniture-list-products" id="products"></ul>
    </div>

    <button class="load-more-btn" type="button">Показати ще</button>
  </div>
</section>
