<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <svg class="site-icon" width="163" height="70">
          <use href="/img/sprite.svg#company-logo-black">
        </svg>
      </a>
      <div class="nav-wrapper">
        <ul class="nav-list hidden-element">
          <li class="nav-list-item">
            <a href="#furniture-list" class="nav-link">Наші меблі</a>
          </li>
          <li class="nav-list-item">
            <a href="#about-us" class="nav-link">Про нас</a>
          </li>
          <li class="nav-list-item">
            <a href="#faq-section" class="nav-link">Часті питання</a>
          </li>
          <li class="nav-list-item">
            <a href="#feedback" class="nav-link">Відгуки</a>
          </li>
        </ul>
        <button href="#furniture-list" type="button" class="header-button hidden-element">
          До покупок
        </button>
      </div>
      <button type="button" class="burger-button" data-menu-open>
        <svg class="burger-button" width="32" height="32">
          <use href="/img/sprite.svg#menu">
<!-- <header class="header">
  <div class="container">
    <nav class="header-nav"> -->
<!-- === лого=== -->
<!-- <a href="./index.html" class="logo" aria-label="Повернутись на головну">
        <svg class="logo-icon" width="112" height="48" aria-hidden="true">
          <use href="/img/sprite.svg#company-logo"></use>
        </svg>
        <span class="logo-text">Меблерія</span>
      </a> -->

<!-- === десктоп нав === -->
<!-- <ul class="nav-list">
        <li class="nav-list-item">
          <a
            href="./furniture_list.html"
            class="nav-link"
            data-scroll-to="furniture-list"
            >Наші меблі</a
          >
        </li>
        <li class="nav-list-item">
          <a href="./about_us.html" class="nav-link" data-scroll-to="about-us"
            >Про нас</a
          >
        </li>
        <li class="nav-list-item">
          <a href="./faq.html" class="nav-link" data-scroll-to="faq"
            >Часті питання</a
          >
        </li>
        <li class="nav-list-item">
          <a href="./feedback.html" class="nav-link" data-scroll-to="feedback"
            >Відгуки</a
          >
        </li>
      </ul> -->

<!-- == кнопка до покупок === -->
<!-- <button
        type="button"
        class="header-button"
        data-scroll-to="furniture-list"
      >
        До покупок
      </button> -->

<!-- === бургер === -->
<!-- <button
        type="button"
        class="burger-button"
        data-menu-open
        aria-label="Відкрити меню"
      >
        <svg class="burger-icon" width="24" height="24" aria-hidden="true">
          <use href="/img/sprite.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div> -->

<!-- === мобільне меню=== -->
<!-- <div class="mobile-menu" data-menu>
    <div class="mobile-menu-inner">
      <button
        type="button"
        class="mobile-menu-close"
        data-menu-close
        aria-label="Закрити меню"
      >
        <svg class="close-icon" width="24" height="24" aria-hidden="true">
          <use href="/img/sprite.svg#x"></use>
        </svg>
      </button>

      <ul class="mobile-nav-list">
        <li>
          <a
            href="./furniture_list.html"
            class="mobile-nav-link"
            data-scroll-to="furniture-list"
            >Наші меблі</a
          >
        </li>
        <li>
          <a
            href="./about_us.html"
            class="mobile-nav-link"
            data-scroll-to="about-us"
            >Про нас</a
          >
        </li>
        <li>
          <a href="./faq.html" class="mobile-nav-link" data-scroll-to="faq"
            >Часті питання</a
          >
        </li>
        <li>
          <a
            href="./feedback.html"
            class="mobile-nav-link"
            data-scroll-to="feedback"
            >Відгуки</a
          >
        </li>
      </ul>

      <button
        type="button"
        class="mobile-menu-btn"
        data-scroll-to="furniture-list"
      >
        До покупок
      </button>
    </div>
  </div>
</header> -->
