.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
padding: 64px 20px;
background: #f0e6e6;
}

.about-content,
.about-picture {
  flex-basis: 50%;
}

.about-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;
  margin-bottom: 20px;
  border-radius: 8px;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}
.about-picture img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .about-container {
    flex-direction: column;
    padding: 64px 20px;
  }
  .about-content {
    flex-basis: 100%;
    text-align: left;
  }
  .about-img {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about-container {
    flex-direction: row;
    padding: 32px 32px;
  }
  .about-title {
    font-size: 36px;
  }
  .about-text {
    font-size: 18px;
  }
}


