.faq {
  padding: 48px 20px;
  min-width: 335px;
  margin: 0 auto;
}

.faq h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.ac {
  border: none;
  border-top: 1px solid rgba(8, 12, 9, 0.15);
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-container:last-child {
  border-bottom: 1px solid rgba(8, 12, 9, 0.15);
  padding-bottom: 20px;
}

.ac-header {
  position: relative;
  padding-right: 40px;
  margin: 0;
  align-items: center;
}

.ac-trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  font-weight: 700;
  font-size: 18px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-align: left;
}

.ac-trigger::after {
  content: none !important;
}

.ac .ac-trigger {
  color: #080c09;
  transition: color 0.3s ease;
}

.ac.is-active .ac-trigger {
  color: #080c09;
}

.ac-icon {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.ac.is-active .ac-trigger::after {
  transform: translateY(-50%) rotate(180deg);
}

.ac-panel {
  overflow: hidden;
  transition: height 0.3s ease;
  background-color: #fff;
}

.ac-text {
  padding: 0px 0px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #080c09;
}

@media screen and (min-width: 768px) {
  .faq {
    padding: 48px 32px;
  }

  .accordion-container {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    padding: 80px 64px;
    max-width: 865px;
  }

  .faq h2 {
    font-size: 48px;
  }
}
