.furniture-list {
  background: #fff;
}

.furniture-list .container {
  padding: 48px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
}

.section-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.section-body-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.furniture-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #080c09;
}

.furniture-list-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
}

.furniture-list-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.category-item {
  width: calc((100% - 16px) / 2);
  border-radius: 8px;
  height: 122px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.categories-item--active {
  border: 8px solid #6b0609;
}

.categories-btn {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 8px;
}

.category-btn:hover {
  pointer-events: none;
}

.furniture-list-products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-height: 486px;
}

.products-image {
  border-radius: 8px;
  width: 100%;
  height: 277px;
  margin: 0;
}

.product-description-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: auto;
  margin-top: 16px;
  height: auto;
}

.products-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
  padding: 0;
  margin: 0;
}

.products-color-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.products-color-box {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
}

.products-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #080c09;
  padding: 0;
  margin: 0;
}

.products-details-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  border-radius: 100px;
  border: none;
  width: 100%;
  height: 46px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  background: rgba(8, 12, 9, 0.05);
  margin-top: auto;
}

.products-details-btn:hover,
.products-details-btn:focus {
  opacity: 0.5;
}

.load-more-btn {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  border-radius: 100px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 100%;
  max-width: 340px;
  height: 46px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6b0609;
  border: none;
}

.load-more-btn:hover,
.load-more-btn:hover {
  opacity: 0.5;
}

.load-more-btn.is-show {
  display: block;
}

@media only screen and (min-width: 768px) {
  .furniture-list .container {
    padding: 48px 32px;
  }
  .furniture-list-categories {
    justify-content: flex-start;
    gap: 24px;
  }
  .category-item {
    width: calc((100% - 72px) / 4);
  }
  .product-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .furniture-list .container {
    padding: 80px 64px;
  }
  .furniture-list-title {
    font-size: 48px;
  }
  .furniture-list-categories {
    justify-content: flex-start;
  }
  .category-item {
    width: calc((100% - 144px) / 7);
  }
  .product-item {
    width: calc((100% - 72px) / 4);
  }
}
