.header-container {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 0;
    background-color: white;
    z-index: 998;
}

.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.header .site-icon {
    fill: black;
}

.header-container {
    padding: 0 20px;
}

/* .header {
    margin: 0 auto;
} */

/* .header {
    background-color: blueviolet;
} */

.logo {
    display: flex;
    align-items: center;
}

.hidden-element {
    display: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.burger-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

@media (min-width: 768px) {
    .header-container {
        padding: 1px 32px;
    }
}

@media (min-width: 1440px) {
    .header-container {
        padding: 1px 64px;
    }

    .hidden-element {
        display: flex;
    }

    .burger-button {
        display: none;
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .nav-list {
        display: flex;
        gap: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .header-button {
        padding: 8px 20px;
        border-radius: 100px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: white;
        box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
        inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), 
        inset 0 0 0 1px rgba(8, 12, 9, 0.15),
        inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
        inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
        background: #6b0609;
        border: none;
        width: 129px;
        height: 42px;
        transition: opacity 250ms ease-in-out;
    }

    .header-button:hover {
    opacity: 0.5;
    }

    .header .nav-list-item {
        position: relative;
        padding-bottom: 1px;
        display: flex;
        justify-content: center;
    }

    .header .nav-list-item::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #6b0609;
        transition: width 250ms ease-in-out;
    }

    .header .nav-list-item:hover::after {
        width: 100%;
    }
}